@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 270 10% 5%;
    --card: 0 0% 100%;
    --card-foreground: 270 10% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 10% 5%;
    --primary: 270 100% 17%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 100% 37%;
    --secondary-foreground: 0 0% 100%;
    --muted: 270 10% 96%;
    --muted-foreground: 270 5% 40%;
    --accent: 270 50% 95%;
    --accent-foreground: 270 100% 17%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 10% 90%;
    --input: 270 10% 90%;
    --ring: 270 100% 37%;
    --chart-1: 270 100% 17%;
    --chart-2: 270 100% 37%;
    --chart-3: 270 80% 50%;
    --chart-4: 270 60% 60%;
    --chart-5: 270 40% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 270 15% 3%;
    --foreground: 0 0% 98%;
    --card: 270 10% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 270 10% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 270 100% 75%;
    --primary-foreground: 270 100% 10%;
    --secondary: 270 70% 55%;
    --secondary-foreground: 0 0% 100%;
    --muted: 270 10% 15%;
    --muted-foreground: 270 5% 60%;
    --accent: 270 30% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 10% 20%;
    --input: 270 10% 20%;
    --ring: 270 100% 60%;
    --chart-1: 270 100% 60%;
    --chart-2: 270 80% 50%;
    --chart-3: 270 60% 40%;
    --chart-4: 270 40% 30%;
    --chart-5: 270 20% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
